

.gameborder {
    /*height: 640px;
    width: 1000px;*/
    background: lavender;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.background {
    height: 640px;
    width: 1000px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.score {
    z-index: 100;
    position: absolute;
}

.circleAudio {
    z-index: 100;
    position: absolute;

    right: 0;
    float: right;
    margin-right: 200px;

    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 30px;
}
.circleAudio * {
    font-size: 24px;
}



    .message {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 30%;
        font-size: 61px;
        font-weight: 400;
        color: var(--teal);
        background: #0000006b;
        padding: 10px;
        border-radius: 16px;
    }

.dead {
    background: #673435 !important;
}


.dead .rock, .dead .rock div {
    background: lavender !important;
}



.rock {
    width: 100px;
    height: 160px;
    background: #673435;
    margin: auto;
    padding: 2px;
    border-color: wheat;
    border-bottom: ridge;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dual, .dual div {
    background: #301211 !important;
}







#Ninja {
    width: 100px;
    height: 100px;
  
    margin-right: auto;
    margin-left: auto;
    margin-top: -100px;
}


#Ninja .right {
    margin-left: -200px;
}

#Ninja .left {
    margin-right: -200px;
    transform:scaleX(-1);
}



.rock div {
    width: 200px;
    height: 16px;
    background: #673435;
    display: table;
    margin-top: -60px;
}

.rock .left{
    width: 100px;
    height: 10px;
    background: #673435;
    display: table;
    margin-left: 200px;
}

.rock .right {
    width: 100px;
    height: 10px;
    background: #673435;
    display: table;
    margin-right: 200px;
}

.rock .non {
    width: 0px;
    background: #673435;
    display: table;
}




